@using BlogCore.EFWork.Entity
@using BlogCore.EFWork.Model



<div class="result-content">
    @{
        GridPage gridPage = ViewBag.Page;
    }

    <table class="result-tab" width="100%">
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>作者</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        @foreach (Article item in ViewBag.List)
        {
            <tr>
                <td>@item.Id</td>
                <td title="@item.Title">
                    <a target="_blank" href="#" title="发哥经典">@item.Title</a>
                </td>
                <td>@item.User.Name</td>
                <td>@item.CreateTime</td>
                <td>
                    <a class="link-update" href="#" onclick="editArt('@item.Id')">修改</a>
                    <a class="link-del" href="#" onclick="deleteById('@item.Id')">删除</a>
                </td>
            </tr>
        }
    </table>
    <div class="list-page">
        共 @gridPage.Records 条 共  @gridPage.Total 页
        @foreach (string item in ViewBag.PageList)
        {
            <a onclick="pageChange('@item')">@item</a>
        }
    </div>
</div>