@{
    ViewData["Title"] = "主页";
}
@using BlogCore.EFWork.Entity
@using BlogCore.EFWork.Model
@using BlogCore.EFWork.Infrastructure

<div class="blog-header">
    <h1 class="blog-title">Sample Blog</h1>
    <p class="lead blog-description">这是一个简单的.Net Core Blog项目</p>
</div>

<div class="row">

    <div class="col-sm-8 blog-main">
        @foreach (Article item in ViewBag.List)
        {
            <div class="blog-post">
                <a href="/Article/Index/@item.Id">
                    <h2 class="blog-post-title">
                        @item.Title
                    </h2>
                </a>
                <p class="blog-post-meta">@item.CreateTime by <a href="#">@item.User.Name</a></p>
                <div class="panel-body panel-default">
                    @Html.Raw(item.Body.GetAbstract(300)+"。。。。。。")
                </div>
            </div><!-- /.blog-post -->
        }
        @{
            GridPage gridPage = ViewBag.Page;
            int up = gridPage.Page - 1;
            int next = gridPage.Page + 1;
        }
        <input type="hidden" id="page" name="page" value="@gridPage.Page" />
        <nav>
            <ul class="pager">
                <li>
                    @Html.ActionLink("上一页", "Index", "Home", new { @type = ViewBag.Type, page = up })
                </li>
                <li>
                    @Html.ActionLink("下一页", "Index", "Home", new { @type = ViewBag.Type, page = next })
                </li>
            </ul>
        </nav>

    </div>

    @await Component.InvokeAsync("Info", new { })

</div>

